&pmi632_pwm {
	qcom,lut-patterns = <50 50 49 47 45 42 39 35 31 27 22 17 11 6 0 0 0 0 0 0 0>;
};

&pmi632_rgb {
	red {
		label = "white";
	};
	green {
		status = "disabled";
	};
	blue {
		status = "disabled";
	};
};
